*{
  margin:0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
  --bg-color: #F2F2F2;
  --txt-color: #262624;
  --primary-color: #391a4e;
  --secondary-color: #6d418a;
  --tertiary-color: #B08EBF;
}

html, body{
  height: 100%;
}

body{
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-color);
  color: var(--txt-color);

  display: flex;
  flex-direction: column;
}
header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul{
  position: relative;
  display: flex;
}

header ul li{
  list-style: none;
}


main
{
  margin-top: 14rem;
  display: flex;
}

.container
{   
  position: relative;
  max-width: 60rem;
  margin-left: 10rem;
}

button
{
  font-family: 'Poppins', sans-serif;
  margin-top: 2rem;
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: 1rem;
  background-color: inherit;
  border-radius: 3rem;
}

.container button
{
  margin-left: 7rem;
 color: var(--primary-color); 
 border: 1px solid var(--primary-color);
}
